*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.codenvy
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
pom.xml

src/main/webapp/images/misc/glogin.png
src/main/webapp/styles/style.css
src/main/webapp/styles/style.css
src/main/webapp/worker.html
